@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Forum&display=swap');

:root{
    --main-color:#b67c00;
    --secondary-color: #013a28;
}

*{
    padding: 0;
    margin: 0;
}
button{
    cursor: pointer;
}
body{
    background-color: #00e2c025;
    background-image: url('../src/assets/images/theme-bg.png');
}
#root{
    scroll-behavior: smooth;
}
.secheading{
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}
.subheading {
    color: #df2601;
    font-family: "DM Sans", sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    /* font-weight: bolder; */
    letter-spacing: 2px;
}

.mainheading {
    color: #b67c00;
    font-size: 2.4rem;
    font-family: "Forum", sans-serif;
    font-weight: 500;
    line-height: 2.4rem;
}
.secDivide{
    height: 1px;
    background-color: #013a28;
    border: none;
    width: 80%;
    margin: auto;
}
