.overseer{
    padding: 3rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
}
.overseerCard{
position: relative;
/* background-color: rebeccapurple; */
display: flex;
align-items: center;
justify-content: center;
}

.overseerPic{
width: 90%;
}
.overseerName{
    background-color: #013a28;
    color: #d39103;
    position: absolute;
    padding: 1.6rem 1rem;
    font-size: large;
    bottom: 0;
    left: 0;
    font-family: "DM Sans";
    font-weight: 800;
}
.welcome_text{
    font-family: "DM Sans", sans-serif;

}
.paragraphs{
    border-left: 2px solid #013a28;
    padding-left: 1.5rem;
}
.welcome_heading{
    font-weight: 800;
    
}
.first_paragraph{
    margin-top: 1rem;
}
.second_paragraph{
    text-align: right;
}
.overseerBt{
    border: none;
    background-color: #FFCF9D;
    font-family: "DM Sans";
    font-weight: 600;
    font-size: .9rem;
    padding: 1.2rem 1rem;
    margin-top: 2rem;
    color: #013a28;
}